html{
    font-family: Verdana, sans-serif;
}

body{
    background-color: black;
    text-align: center; 
}

h1{
    font-size: 50px;
    font-weight: normal;
    color:white;
}

video{
    width:50%;
    margin-top: 20px;
}

a{
    color: aquamarine;
    font-size: 16px;
}

h2{
    font-size: 42px;
    color: white;
    font-weight: 300;
}

img.camp{
    width: 90%;
    height: auto;
}

img.phone{
    width: auto;
    height: auto;
}

p{
    font-size: 21px;
    color: gray;
}

footer{
    text-align: right;
}
/*-----------media queries-------------*/

@media screen and (max-width: 375px){
    body{
        width: 375px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    img.phone{
        width:30px;
        height: auto;
    }   
}